# Node Modules
node_modules

# Arquivos gerados
build/

# Ignorar a pasta .docusaurus
.docusaurus/

# docs/intro.md é autogerado
docs/intro.md

# docs/adrs é autogerado
docs/adrs

# pnpm store
.pnpm-store/